<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="main">
    <img
            src="https://cdn.worldota.net/t/1024x768/extranet/17/66/17663c59857a95b8b607e437b7ca28352c484654.jpeg" width="350">
    <div>
        <h1>Отель 5 звезд</h1>
        <h4>Бесподобное местечко</h4>
    </div>
</div>
</body>
</html>